# Record template for DT320 temperature controller
#ai record template for register inputs
record(waveform, "$(P):TT$(ADR):sPattern-0a") {
    field(DESC,"Data from pport DT320_9")
    field(DTYP,"asynInt32ArrayIn")
    field(NELM,"8")
    field(FTVL,"LONG")
    field(INP,"@asyn($(PORT),0,1000)INT16")
    field(SCAN,"$(SCAN)")
    field(PINI, "YES")
}
